<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092627765402-p6bco0enr6falai0l7kbprar3okogc4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092627765402-p6bco0enr6falai0l7kbprar3okogc4b</string>
	<key>API_KEY</key>
	<string>AIzaSyBOL6tHGMzoKcVPfz3iYXvS8qd_vQADlkw</string>
	<key>GCM_SENDER_ID</key>
	<string>1092627765402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.faceGate</string>
	<key>PROJECT_ID</key>
	<string>hackathon-fall-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-fall-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092627765402:ios:fd182bf584a1f3a7a7e723</string>
</dict>
</plist>